html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	font-size: 0.6rem;
	font-family: "微软雅黑";
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clear {
	clear: both
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: #000000;
}

p {
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.header {
	position: fixed;
	width: 100%;
	top: 0rem;
	z-index: 9999;
	background-color: #F8F8F8;
}

.header .search {
	height: 1.23rem;
	padding-top: 0.57rem;
	padding-left: 0.38rem;
}

.header .search>div {
	float: left;
	line-height: 1rem;
}

.header .search>div:first-child {
	width: 12.16rem;
	background-color: #ECECEC;
	border-radius: 0.19rem;
	position: relative;
	margin-left: 0.76rem;
}

.header .search>div:last-child {
	padding-left: 0.38rem;
}

.header .search>div:last-child a {
	color: #999999;
}

.header .search i {
	position: absolute;
	left: 0.3rem;
	top: 0.114rem;
	color: #999999;
}

.header .search input {
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #ECECEC;
	height: 1rem;
	margin-left: 2rem;
	width: 9.5rem;
}

.header .search a {
	height: 1rem;
	font-size: 0.8rem;
	border: 0px;
}

.center {
	padding-top: 3.03rem;
	padding-bottom: 2.6rem;
}

.footer {
	position: fixed;
	bottom: -0.038rem;
	z-index: 9999;
	width: 100%;
}

.footer ul,
li {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	padding-top: 0.076rem;
}

.footer li {
	list-style: none;
	float: left;
	width: 20%;
	height: 2.3rem;
	text-align: center;
}

.footer .active {
	color: #a2313e;
}

.iconfont {
	font-size: 1.216rem;
}